@page "/"
@inject IJSRuntime JSRuntime
@inject IMenuService MenuService
<div class="row">
    <_ActivityTimeline></_ActivityTimeline>
</div>
<!--end::Row-->

@code{
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        MenuService.ChangeActiveTab(1);
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("appReady");
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}