@inject IJSRuntime JSRuntime
@inject IAuthenticationService AuthService
@inject IndexedDBManager DbManager
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-3 wizard d-flex flex-column flex-lg-row flex-column-fluid">
        <div class="login-aside d-flex flex-column flex-row-auto">
            <!--begin::Aside Top-->
            <div class="d-flex flex-column-auto flex-column pt-15 px-30">
                <!--begin::Aside header-->
                <a href="/" class="login-logo py-6">
                    <img src="assets/media/project-logos/Sparkdiary 1.png" class="max-h-30px" alt="logo">
                </a>
                <!--end::Aside header-->
                <!--begin: Wizard Nav-->
                <div class="wizard-nav pt-5 pt-lg-30">
                    <!--begin::Wizard Steps-->
                    <div class="wizard-steps">
                        <!--begin::Wizard Step 1 Nav-->
                        @if (AuthService.VerificationStep == 1)
                        {
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">1</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            Register
                                        </h3>
                                        <div class="wizard-desc">
                                            Send your phone number
                                        </div>
                                    </div>
                                </div>
                            </div> }
                        else
                        {
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">1</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            Register
                                        </h3>
                                        <div class="wizard-desc">
                                            Send your phone number
                                        </div>
                                    </div>
                                </div>
                            </div>}
                        <!--end::Wizard Step 1 Nav-->
                        <!--begin::Wizard Step 2 Nav-->
                        @if (AuthService.VerificationStep < 2)
                        {
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">2</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            Authentication
                                        </h3>
                                        <div class="wizard-desc">
                                            Verify your phone number
                                        </div>
                                    </div>
                                </div>
                            </div> }
                        else if (AuthService.VerificationStep == 2)
                        {
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">2</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            Authentication
                                        </h3>
                                        <div class="wizard-desc">
                                            Verify your phone number
                                        </div>
                                    </div>
                                </div>
                            </div> }
                        else
                        {
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">2</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            Authentication
                                        </h3>
                                        <div class="wizard-desc">
                                            Verify your phone number
                                        </div>
                                    </div>
                                </div>
                            </div>}
                        <!--end::Wizard Step 2 Nav-->
                        <!--begin::Wizard Step 3 Nav-->
                        @if (AuthService.VerificationStep < 3)
                        {
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">3</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            Information
                                        </h3>
                                        <div class="wizard-desc">
                                            Add your personal information
                                        </div>
                                    </div>
                                </div>
                            </div> }
                        else if (AuthService.VerificationStep == 3)
                        {
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">3</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            Information
                                        </h3>
                                        <div class="wizard-desc">
                                            Add your personal information
                                        </div>
                                    </div>
                                </div>
                            </div> }
                        else
                        {
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">3</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            Information
                                        </h3>
                                        <div class="wizard-desc">
                                            Add your personal information
                                        </div>
                                    </div>
                                </div>
                            </div>}
                        <!--end::Wizard Step 3 Nav-->
                    </div>
                    <!--end::Wizard Steps-->
                </div>
                <!--end: Wizard Nav-->
            </div>
            <!--end::Aside Top-->
            <!--begin::Aside Bottom-->
            <div class="aside-img-wizard d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center pt-2 pt-lg-5" style="background-position-y: calc(100% + 3rem); background-image: url(assets/media/svg/illustrations/login-visual-1.svg)">
            </div>
            <!--end::Aside Bottom-->
        </div>
        <!--begin::Content-->
        <div class="login-content flex-row-fluid d-flex flex-column p-10">
            <!--begin::Top-->
            <div class="text-right d-flex justify-content-center">
                <div class="top-signin text-right d-flex justify-content-end pt-5 pb-lg-0 pb-10">
                    <span class="font-weight-bold text-muted font-size-h4">Having issues?</span>
                    <a href="javascript:;" class="font-weight-bold text-primary font-size-h4 ml-2" id="kt_login_signup">Get Help</a>
                </div>
            </div>
            <!--end::Top-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-row-fluid flex-center">
                <!--begin::Signin-->
                <div class="login-form">
                    <!--begin::Form-->
                    <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_login_singin_form" action="" novalidate="novalidate">
                        <!--begin::Title-->
                        <div class="pb-5 pb-lg-15">
                            <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Sign In</h3>
                            @*<div class="text-muted font-weight-bold font-size-h4">
                                    New Here?
                                    <a href="/Signup" class="text-primary font-weight-bolder">Create Account</a>
                                </div>*@
                        </div>
                        <!--begin::Title-->
                        @switch (AuthService.VerificationStep)
                        {
                            case 1:
                                <_Step1></_Step1> break;
                            case 2:
                                <_Step2></_Step2>break;
                            case 3:
                                <_Step3></_Step3>break;
                        }
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Signin-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Login-->
</div>

@code { private static IAuthenticationService _service;
    private static IndexedDBManager _dbManager;
    private static IJSRuntime _jsRuntime;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _service = AuthService;
        _dbManager = DbManager;
    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AuthService.OnValueUpdate += OnValueUpdate;
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}

@functions{
    [JSInvokable("VerificationSentSuccessfully")]
    public static void VerificationSentSuccessfully()
    {
        _service.NextAuthenticationStep();
    }
    [JSInvokable("AuthenticateUser")]
    public static void AuthenticateUser(string uId)
    {
        _service.AuthenticateUser(uId);
    }
    public void OnValueUpdate(object sender, OnUpdateEventArgs eventArgs)
    {
        UpdateUI();
    }
    private void UpdateUI()
    {
        StateHasChanged();
    }
}
